@model IEnumerable<WebAtividadeEntrevista.Models.BeneficiarioModel>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Beneficiários do Cliente</strong>
    </div>

    @if (Model.Any())
    {
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
               
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                   
                    <td>
                        <a href="@Url.Action("AtualizarBeneficiario", "Cliente", new {id = item.Id})" data-modal="" class="btn btn-default">
                            <span title="Editar" class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="@Url.Action("DeletarBeneficiario", "Cliente", new {id = item.Id})" data-modal="" class="btn btn-danger">
                            <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    Nenhum Beneficiário Cadastrado.
                </th>
            </tr>
        </table>
    }
</div>
<div>
    <div class="form-group">
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Novo Benefiário", "AdicionarBeneficiario", "Cliente", new { id = ViewBag.ClienteId }, 
            new { @class = "btn btn-primary", data_modal = "" })
    </div>
</div>

@section scripts
{
    
<script>


        $(function () {
            $.ajaxSetup({ cache: false });

            $("a[data-modal]").on("click", function (e) {
                $('#myModalContent').load(this.href, function () {
                    $('#myModal').modal({
                        /*backdrop: 'static',*/
                        keyboard: true
                    }, 'show');
                    bindForm(this);
                });
                return false;
            });
        });

    function bindForm(dialog) {
        console.log(dialog);
            //$('form', dialog).submit(function () {
            //    $.ajax({
            //        url: this.action,
            //        type: this.method,
            //        data: $(this).serialize(),
            //        success: function (result) {
            //            if (result.success) {
            //                $('#myModal').modal('hide');
            //                $('#replacetarget').load(result.url); // Carrega o resultado HTML para a div demarcada
            //            } else {
            //                $('#myModalContent').html(result);
            //                bindForm(dialog);
            //            }
            //        }
            //    });
                return true;
            //});
        }
</script>
}
